body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}


a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.theme-light {
  color: #323232;

  background-color: #f8f7f4;
}

.theme-light a {
  color: #323232;

  border-bottom-color: rgba(0, 0, 0, 0.3);
}

.theme-light a:hover,
.theme-light a:focus,
.theme-light a:active {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.button {
  font: inherit;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 1px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
  /*Временно */
  /*outline: 1px dotted red;*/

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* ------ Header ------ */

/* Главное меню */

.main-header {
  position: relative;

  margin-top: 9px;
}

.main-header-logo {
  margin-right: 10px;
  border: none;
}


.main-navigation {
  display: flex;

  font-weight: 700;
  line-height: 18px;
   /*Временно */
  /*outline: 1px solid blue;*/
}

.site-navigation,
.site-navigation-sub,
.user-navigation,
.modal {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  max-width: 550px;

  /* Временно для сетки */
  /*outline: 1px solid yellow;*/
}

.site-navigation a {
  border: none;
}


.site-navigation-link > a:hover,
.site-navigation-link > a:focus {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px 20px;

}

.site-navigation-link > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-current > a {
  color: #ffffff;

  background-color: #d07058;
  border-radius: 20px 20px;
}

.site-navigation-sub{
  border-radius: 3px;

  background-color: #f8f7f4;
}

.site-navigation-sub,
.modal {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}


.site-navigation-sub a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.site-navigation-sub a:hover,
.site-navigation-sub a:focus {
  background-color: #fbded7;

}

.site-navigation-sub a:active {
  background-color: #f6b5a5;
}

.site-navigation-sub-current a {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-sub-current a:hover,
.site-navigation-sub-current a:focus {
  color: #000000;
}

.site-navigation-sub-link:first-child {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.site-navigation-sub .important {
  font-weight: 700;
}

/* Меню пользователя */

.user-navigation {
  max-width: 420px;
  margin-left: auto;

  /* Временно */
  /*outline: 1px solid yellow;*/
}

.user-navigation-link > a {
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(225, 225, 225, 0.2);
  border-bottom: none;
  border-radius: 20px;
}

.user-navigation-link > a:hover,
.user-navigation-link > a:focus,
.user-navigation-link > a:active,
.user-navigation-link a.basket-full {
  color: #323232;

  background-color: #f8f7f4;
}

.main-header-schedule {
  position: absolute;
  bottom: 0;
  right: 27px;
  transform: translateY(100%);

  width: 166px;
  margin: 0;
  padding: 0;/* Почему это здесь нужно????*/

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  text-align: right;

      /*Временно */
  /*outline: 1px solid green;*/
}

.main-header-phone-number a {
  font-size: 22px;
  line-height: 24px;

  border-bottom: none;
}

/* Модальные окна */

.modal {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 5px;
}

.modal a {
  line-height: 24px;
}

.modal input,
.modal textarea {
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 3px;
}

.modal input:hover,
.modal textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52) inset;
  border-color: transparent;
}

.modal input:focus,
.modal textarea:focus,
.modal input:active,
.modal textarea:active  {
  font-weight: 700;

  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52) inset;
  border-color: transparent;
}

.modal input::placeholder,
.modal textarea::placeholder  {
   font-weight: 400;
   color: #999999;
}

.user-navigation-search-popup {
  padding: 20px 15px;
}

.user-navigation-login-popup {
  padding: 20px 18px;
}

.user-navigation-basket-popup {
  padding: 20px 15px;
}

.user-navigation-basket-popup .price {
  color: #999999;
}

.user-navigation-basket-popup .sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.user-navigation-basket-popup table {
  border-bottom: 1px solid #cacac7;
}

/* ------ Main ------ */

.breadcrumbs {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item-header {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.slider-controls {
  list-style: none;
}

.slider .slider-button {
  font-size: 32px;
  line-height: 44px;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.slider .slider-button:hover,
.slider .slider-button:focus {
  color: #ffffff;

  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 2px 2px 0 #ac1000;
}

.slider .slider-button:active {
  color: #fceeec;
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.special-offers {
  margin-bottom: 40px;
}

.special-offers-blocks {
  display: flex;
  justify-content: space-between;

   /*Временно */
  /*outline: 2px solid blue;*/
  }

.special-offers-block {
  width: 560px;
  height: 229px;
  padding: 18px 20px 23px 20px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #9d8b84;
  border-radius: 15px;

  /*Временно */
  /*outline: 1px solid yellow;*/
}

.special-offer-header {
  margin-top: 0; /*Что в подобных случаях делать с внешними отступами текста, которые не выпадают из родительского блока? Каждый  раз обнулять вручную?  */

  font-size: 35px;
  line-height: 41px;
}

.raspberry {
  background-image: url("../img/offer-background-1.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.chocolate {
  background-image: url("../img/offer-background-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}


/* Карточка товара */

.catalog {
  margin-bottom: 25px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 267px;
  margin-bottom: 33px;

  /*Временно */
  /*outline: 1px solid yellow;*/
}

.catalog-item-img {
  border-radius: 50%;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price-weight {
  font-size: 30px;
}

.catalog-item h3 {
  text-align: center;
}

/* Преимущества */

.features {
  margin-bottom: 40px;

}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 20px;

  background-color: #E9DCC2;
  background-image: url("../img/features-background-pattern.jpg");
  background-repeat: repeat;
  border-radius: 15px;
  list-style: none;
}

.feature-item-main {
  width: 100%;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500; /*Что в подобных случаях делать с внешними отступами текста, которые не выпадают из родительского блока? Каждый  раз обнулять вручную?  */
}

.feature-item {
  width: 483px;
  padding-left: 58px;

  /* Временно */
/*  outline: 1px solid red;*/
}

/* Блог и рассылка */

.new {
  display: flex;
  justify-content: space-between;
}
/* Блог */

.blog-news {
  width: 560px;
  min-height: 220px;
  padding: 20px;
  box-sizing: border-box;

  background-color: #ffffff;
  background-image: url(../img/news.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-news-main-header {
  font: inherit;
}

.blog-news-item-header a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  border-color: #323232;
  border-width: 2px;
}

.blog-news-item-header a:hover,
.blog-news-item-header a:focus,
.blog-news-item-header a:active {
  border-width: 2px;

}


/* Рассылка */

.subscription {
  width: 560px;
  padding: 5px;
  box-sizing: border-box;

  color: #5a5a5a;

  background-image: url("../img/bg-post.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
}

.subscription .container {
  min-height: 190px;
  padding: 20px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

/* Контакты */

.contacts {
  position: relative;

  display: block;
  width: 100%;
  height: 430px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;

/*  background-image: url("../img/map.png");
  background-position: 0 0;
  background-repeat: no-repeat;*/
}


.contaсts-map {
  display: block;
  margin: 0 auto;
}

.contacts .container {
  display: flex;
  justify-content: flex-end;
}

.contacts .container {
  font-size: 14px;
  line-height: 20px;

  background-color: #ffffff;
}

.contacts-info {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;

  max-width: 500px;
  max-height: 400px;
  margin: 0; /*Откуда тут берется маргиин 14 % и почему от него никак не избавитться ((( )))*/
  padding: 25px;

  border-radius: 15px;
}

.contacts .address,
.contacts a  {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts a {
  line-height: 22px;
  border: none;

}



/* ------ Каталог ------ */

.main h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter {
  display: flex;
  align-items: flex-end;

  margin-bottom: 40px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

}

.filter .containter {
  font-size: 16px;
  line-height: 18px;

  background-color: rgba(255,255, 255, 0.2);
  border-radius: 20px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}


.filter select {
  font: inherit;
  color: #ffffff;

  background-color: rgba(255,255, 255, 0.2);
  border: none;
  border-radius: 20px;

 /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

.filter select:hover,
.filter select:focus {
  color: #323232;
}

.filter-button {
  font: inherit;

  background-color: rgba(255,255, 255, 0.2);
  background-image: none;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-image: none;
  background-color: #ffffff;
  box-shadow: none;
}

.filter-button:active {
  background-color: #ededed;
  background-image: none;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.catalog {
/*  border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
}

.pagination {
  list-style: none;
}

.pagination-link a {
  border: none;
  border-radius: 50%;
}

.pagination-link a:hover,
.pagination-link a:focus {
  color: #ffffff;

  background-color: rgba(255,255, 255, 0.2);
}


.pagination-link .current {
  color: #323232;

  background-color: #ffffff;
}

.pagination-link .disabled {
  color: rgba(255,255, 255, 0.2);
}



/* ------ Footer ------ */

.footer {
  display: flex;
  justify-content: space-between;
}

.inner-page .footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);

}

.footer-socials ul,
.footer-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer a {
  font-size: 13px;
  line-height: 18px;
}

.footer-navigation-link-suppliers a {
  font-weight: 700;
}

.footer-copyright,
.footer-copyright a {
  font-size: 12px;
}


/* ------ Форма обратной связи ------ */

.modal-feedback {
  width: 478px;
  padding: 20px 25px 25px 25px;

  border-radius: 10px;
}

.modal-feedback .important {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

}

.modal-feedback input,
.modal-feedback textarea {
  font-size: 16px;


}


